{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mystyles.css' %}"> 
        <title>Reservas - Administrador</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/home">HOME</a> ====
            <a href="/app/reservas">Reservar</a> |
            <a href="/app/administrador">Admin</a> |
            <a href="/auth/login">Login</a> |
            <a href="/auth/cadastro">Cadastro</a>
        </div>
        <div class="mycard">
            <h1>Administrador</h1>
            <h1>Diarias</h1>
            <ul>
                {% for d in diarias %}
                <li onclick="window.location = 'diaria/{{ d.id }}'">{{ d.dia }} | 
                    {% if d.disponibilidade %}
                        Disponivel
                    {% else %}
                        Não disponivel
                    {% endif %}
                    | R${{ d.preco }} </li>
                {% endfor %}
            </ul>
            <h1>Informações</h1>
            <ul>
                {% for des in descricoes %}
                <li onclick="window.location = 'descricao/{{ des.id }}'">{{ des.titulo }}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>