{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mystyles.css' %}"> 
        <title>Reservas ADM - Descricoes</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/home">HOME</a> ====
            <a href="/app/reservas">Reservar</a> |
            <a href="/app/administrador">Admin</a> |
            <a href="/auth/login">Login</a> |
            <a href="/auth/cadastro">Cadastro</a>
        </div>
        <div class="mycard">
            <h1>Atualizar descricoes</h1>
            <form action="{% url 'atualizacaoDescricao' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="id" name="id" value="{{ descricoes.id }}">
                <label for="titulo">Título:</label>
                <textarea id="titulo" name="titulo" rows="1" cols="50" required></textarea><br>(Anterior: {{ descricoes.titulo }})<br>
        
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="1" cols="50" required></textarea><br>(Anterior: {{ descricoes.descricao }})<br>
                
                <input type="submit" value="Atualizar">
            </form>
        </div>

        <p><center>Volte para <a href="/app/administrador">Administrador</a></center></p>
        
    </body>
</html>