{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mystyles.css' %}"> 
        <title>Reservas ADM - Descricoes</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/home">HOME</a> ====
            <a href="/app/reservas">Reservar</a> |
            <a href="/app/administrador">Admin</a> |
            <a href="/auth/login">Login</a> |
            <a href="/auth/cadastro">Cadastro</a>
        </div>
        <div class="mycard">
            <h1>Dados sobre descricoes</h1>
            <p><em>Titulo:</em> {{ descricoes.titulo }} </p>
            <p><em>Detalhes:</em> {{ descricoes.descricao }}</p>
        </div>

        <p><center>Volte para <a href="/app/administrador">Administrador</a></center></p>
        
    </body>
</html>