{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mystyles.css' %}"> 
        <title>Reservas ADM - Diaria</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/home">HOME</a> ====
            <a href="/app/reservas">Reservar</a> |
            <a href="/app/administrador">Admin</a> |
            <a href="/auth/login">Login</a> |
            <a href="/auth/cadastro">Cadastro</a>
        </div>
        <div class="mycard">
            <h1>Criar diaria</h1>
            <form action="{% url 'cadastroDiaria' %}" method="post">
                {% csrf_token %}
                <label for="dia">Dia:</label>
                <input type="date" id="dia" name="dia" required><br>
            
                <label for="disponibilidade">Disponibilidade:</label>
                <input type="checkbox" id="disponibilidade" name="disponibilidade" ><br>
            
                <label for="preco">Preço (em Reais):</label>
                <input type="number" step="0.01" id="preco" name="preco" required><br>
            
                <input type="submit" value="Criar">
            </form>
        </div>

        <p><center>Volte para <a href="/app/administrador">Administrador</a></center></p>
        
    </body>
</html>